* {
    box-sizing: boreder-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2141;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: #F8F8F8;
    max-width: 624px;
    border-radius: 16px;
    margin: 10px;
    padding: 32px;
}

.person {
    display: flex;
}

.person__image {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin-right: 32px;
}

.person__name {
    font-size: 36px;
    font-weight: regular;
    margin: 0;
}